.card {
  border-radius: 0 2rem;
  box-shadow: 0 0.1rem 0.2rem;
  height: 95%;
  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}

.card_image {
  height: 70%;
  width: 100%;
}

.card-img-top {
  width: 140px;
  margin-left: 25%;
}

.subtitle {
  text-transform: uppercase;
}

.button {
  background-color: #7EBC43;
  border-color: #7EBC43;
  width: 100%;
}

.pagination {
  justify-content: center;
}